@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", sans-serif;    
}

.container{
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    background: rgb(73, 230, 73);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
    background: rgb(36, 112, 36);
}
.btn-block {
    display: inline;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin-left: 35%;
}

.form-control {
    margin: 3px 0px;
}

.form-control label {
    display: block;
    padding: 0px 7px;
}

.form-control input {
    width: 95%;
    height: 40px;
    margin: 10px;
    padding: 0px 7px;
    font-size: 17px;
}

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
}

.form-control-check label {
    flex: 10;
}

.form-control-check input {
    flex: 1;
    height: 20px;
    cursor: pointer;

}